USE DB1677_ADA_GestaoDeUsuarios
GO

CREATE TABLE [dbo].[__EFMigrationsHistory]
(
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
	CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/04/2026 18:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios]
(
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[SenhaHash] [nvarchar](200) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[CriadoEm] [datetime2](0) NOT NULL,
	[AtualizadoEm] [datetime2](0) NULL,
	[Cargo] [nvarchar](100) NULL,
	CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory]
	([MigrationId], [ProductVersion])
VALUES
	(N'20260428123131_001_CriarTabelaUsuarios', N'10.0.7')
GO
INSERT [dbo].[Usuarios]
	([Id], [Nome], [Email], [SenhaHash], [Ativo], [CriadoEm], [AtualizadoEm], [Cargo])
VALUES
	(N'ab5cd8d9-6a36-484e-a30e-294d3b98b812', N'Maria Silva', N'maria@exemplo.com', N'$2a$11$akT4AE0DU//PBsIJ6JMRvuvIF.svbhR3mS2P6/o9BrE0m8MQdqMsy', 1, CAST(N'2026-04-28T16:57:50.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Usuarios]
	([Id], [Nome], [Email], [SenhaHash], [Ativo], [CriadoEm], [AtualizadoEm], [Cargo])
VALUES
	(N'75ee1002-63ca-499e-80a2-b0de4ee12799', N'Alan Lima', N'alan@exemplo.com', N'$2a$11$5cWWjXqS/uJRJq.wNZpRr.Rpx.ujvfi2rmlmBg5frZzrPL4GYXUPq', 1, CAST(N'2026-04-28T16:55:52.0000000' AS DateTime2), NULL, N'Engenheiro de Software')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 28/04/2026 18:21:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
